<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	 <extension
	       point="org.eclipse.ui.commands">
	    <command
	          description="%command.description.0"
	          id="com._1c.g5.v8.dt.bsl.ui.extension.handlers.AddMethodToExtension"
	          name="%command.name.0">
	    </command>
	 </extension>
	 <extension
       point="org.eclipse.ui.handlers">
    <handler
          class="com._1c.g5.v8.dt.internal.bsl.ui.extension.BslExtensionExtensionUiFactory:com._1c.g5.v8.dt.bsl.ui.extension.handlers.AddMethodToExtensionHandler"
          commandId="com._1c.g5.v8.dt.bsl.ui.extension.handlers.AddMethodToExtension">
       <activeWhen>
          <reference
                definitionId="com._1c.g5.v8.dt.bsl.Bsl.Editor.opened">
          </reference>
       </activeWhen>
    </handler>
 </extension>
     <extension
          point="org.eclipse.ui.menus">
       <menuContribution
             locationURI="popup:#BslEditorContext?after=additions">
          <command
                commandId="com._1c.g5.v8.dt.bsl.ui.extension.handlers.AddMethodToExtension"
                icon="platform:/plugin/com._1c.g5.v8.dt.md.ui.shared/$nl$/icons/etool16/adopt_item.png"
                style="push"
                tooltip="%command.tooltip.0">
          </command>
       </menuContribution>
    </extension>
    <extension
         point="org.eclipse.ui.bindings">
       <key
             commandId="com._1c.g5.v8.dt.bsl.ui.extension.handlers.AddMethodToExtension"
             contextId="org.eclipse.ui.contexts.window"
             schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
             sequence="M1+M3+F2">
       </key>
    </extension>
    <extension
          point="org.eclipse.ui.popupMenus">
       <objectContribution
             adaptable="false"
             id="com._1c.g5.v8.dt.bsl.ui.extension.objectContribution2"
             objectClass="com._1c.g5.v8.dt.bsl.core.IMethod">
          <action
                class="com._1c.g5.v8.dt.internal.bsl.ui.extension.BslExtensionExtensionUiFactory:com._1c.g5.v8.dt.bsl.ui.extension.handlers.BslOutlineAddToExtensionAction"
                icon="platform:/plugin/com._1c.g5.v8.dt.md.ui.shared/$nl$/icons/etool16/adopt_item.png"
                id="com._1c.g5.v8.dt.bsl.ui.outline.BslOutlineContextMenuContribution.AddToExtension"
                label="%action.label.0"
                style="push">
          </action>
       </objectContribution>
    </extension>
</plugin>
