<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

  <extension point="org.eclipse.ui.startup">
    <startup class="tormozit.CompareConfigMenuHook"/>
    <startup class="tormozit.ApplicationsViewHook"/>
    <startup class="tormozit.ApplicationEditorHook"/>
    <startup class="tormozit.DataCompositionSchemaEditorHook"/> 
    <startup class="tormozit.MoxelEditorHook"/>
    <startup class="tormozit.BSLEditorMenuHook"/> 
    <startup class="tormozit.TextEditorRightClickCaretHook"/>
    <startup class="tormozit.FormEditorHook"/>
    <startup class="tormozit.SmartOutlineHook"/> 
    <startup class="tormozit.NavigatorFilterHook"/>
    <startup class="tormozit.InfobasesViewHook"/>
    <startup class="tormozit.OpenMdObjectHook"/>
    <startup class="tormozit.MenuTooltipStatusLineHook"/>
    <startup class="tormozit.RecentPlacesTracker"/>
    <startup class="tormozit.PropertySheetHook"/>
  </extension>

  <extension point="org.eclipse.ui.contexts">
    <context
        id="tormozit.compareConf.context"
        name="Редактор сравнения EDT"
        parentId="org.eclipse.ui.contexts.window"/>
  </extension>

  <extension point="org.eclipse.ui.bindings">
    <key
          commandId="tormozit.compareConf.openObject"
          contextId="tormozit.compareConf.context"
          schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
          sequence="F2">
    </key>
    <key
          commandId="tormozit.compareConf.showInNavigator"
          contextId="tormozit.compareConf.context"
          schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
          sequence="M1+T">
    </key>
    <key
          commandId="tormozit.GoToDefinition"
          contextId="org.eclipse.ui.contexts.window"
          schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
          sequence="M1+F12">
    </key>
    <key
          commandId="tormozit.CopyRef"
          contextId="org.eclipse.ui.contexts.window"
          schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
          sequence="M1+F11">
    </key>
    <key
          commandId="tormozit.RecentPlaces"
          contextId="org.eclipse.ui.contexts.window"
          schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
          sequence="M1+3">
    </key>
  </extension>

  <extension point="org.eclipse.ui.commands">
    <category
        id="tormozit.commands.global"
        name="Комфорт"
        description="Команды плагина Комфорт"/>
    <command
        id="tormozit.compareConf.openObject"
        name="Открыть объект"
        categoryId="tormozit.commands.global"
        description="Открыть выбранный объект конфигурации в редакторе (Комфорт)"/>
     <command
        id="tormozit.compareConf.showInNavigator"
        name="Показать в навигаторе"
        categoryId="tormozit.commands.global"
        description="Показать выбранный объект конфигурации в навигаторе (Комфорт)"/>
     <command
        id="tormozit.GoToDefinition"
        name="Перейти к определению"
        categoryId="tormozit.commands.global"
        description="Перейти к определению (Комфорт)"/>
    <command
        id="tormozit.CopyRef"
        name="Копировать ссылку"
        categoryId="tormozit.commands.global"
        description="Копировать ссылку на текущий объект или строку модуля (Комфорт)"/>
    <command
        id="tormozit.RecentPlaces"
        name="Последние места"
        categoryId="tormozit.commands.global"
        description="Открыть список последних посещённых методов и объектов метаданных (Комфорт)"/>
  </extension>

  <extension point="org.eclipse.ui.handlers">
    <handler
        commandId="tormozit.compareConf.openObject"
        class="tormozit.ExecutableExtensionFactory:tormozit.CompareConfigOpenObjectHandler">
      <activeWhen>
        <with variable="activeEditorId">
          <equals value="com._1c.g5.v8.dt.compare.ui.editor"/>
        </with>
      </activeWhen>
    </handler>
    <handler
        commandId="tormozit.compareConf.showInNavigator"
        class="tormozit.ExecutableExtensionFactory:tormozit.CompareConfigShowInNavigatorHandler">
      <activeWhen>
        <with variable="activeEditorId">
          <equals value="com._1c.g5.v8.dt.compare.ui.editor"/>
        </with>
      </activeWhen>
    </handler>
    <handler
        class="tormozit.ExecutableExtensionFactory:tormozit.GoToDefinition"
        commandId="tormozit.GoToDefinition">
     </handler>
    <handler
        class="tormozit.ExecutableExtensionFactory:tormozit.GoToDefinition"
        commandId="tormozit.JumpFromClipboard">
     </handler>  
     <handler
        class="tormozit.ExecutableExtensionFactory:tormozit.GetRef"
        commandId="tormozit.CopyRef">
     </handler>
    <handler
        class="tormozit.ExecutableExtensionFactory:tormozit.RecentPlacesHandler"
        commandId="tormozit.RecentPlaces">
     </handler>
  </extension>

  <extension point="org.eclipse.ui.menus">
      <menuContribution locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar id="tormozit.toolbar.mainGroup">
            <command
              commandId="tormozit.JumpFromClipboard"
              label = "Перейти"
              tooltip="Перейти по ссылке из буфера обмена (Комфорт)"
              style="push">
            </command>
            <command
              commandId="tormozit.CopyRef"
              label = "Ссылка"
              tooltip="Копировать ссылку на текущий объект или строку модуля (Комфорт)"
              style="push">
            </command>
            <command
              commandId="tormozit.RecentPlaces"
              label = "Последние"
              tooltip="Последние посещённые методы и объекты метаданных (Комфорт)"
              style="push">
            </command>
         </toolbar>
      </menuContribution>
   </extension>

  <extension point="org.eclipse.ui.views">
    <category
        id="tormozit.views"
        name="Комфорт"/>
    <view
        allowMultiple="false"
        category="tormozit.views"
        class="tormozit.ContentAssistLogView"
        id="tormozit.ContentAssistLogView"
        name="Журнал Комфорт"
        restorable="true"/>
  </extension>

  <extension point="org.eclipse.ui.preferencePages">
    <page
        class="tormozit.ComfortPreferencePage"
        id="tormozit.ComfortPreferencePages"
        name="Комфорт"/>
  </extension>

  <extension point="org.eclipse.core.runtime.preferences">
    <initializer
        class="tormozit.ComfortInitializer"/>
  </extension>

</plugin>
